* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #050b33;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
header {
  background-color: #3e4465;
  padding: 10px 50px;
  align-items: center;
  color: #fff;
}
header > button {
  grid-column: 10/12;
  justify-self: end;
  padding: 10px 35px;
  border-radius: 16px;
  border: none;
  background-color: #9d6ab7;
  color: #fff;
  font-weight: 800;
}
.logo {
  grid-column: 2 / span 6;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
#languages {
  grid-column: 1/2;
  width: 12rem;
  height: 2rem;
  background-color: #050b33;
  color: #9d6ab7;
  border-color: #9d6ab7;
  text-align: center;
}
main {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.crash {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  grid-template-columns: 2 / 8;
  text-align: center;
  margin-left: 7rem;
  margin-bottom: 10rem;
}
.game {
  grid-column: 4 / span 7;
  background-color: #3e4465;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* max-width: 50rem; */
  /* max-height: 24rem; */
}
.game > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  flex-grow: 1;
}
.payment-method {
  display: flex;
  gap: 1.2em;
}
.players {
  margin-right: 1em;
  grid-column: 7 / span 5;
  background-color: #262a3d;
  border-radius: 16px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  max-height: 38rem;
  min-width: 20rem;
}
.V-odds {
  display: flex;
  gap: 1em;
}
.odds-v {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  color: #fff;
}
.odds-h {
  display: flex;
  margin-top: 1em;
  gap: 5rem;
  color: #fff;
}
.H-odds {
  margin-bottom: 1em;
  margin-left: 3em;
}
.bar {
  border-left: #9d6ab7 2px solid;
  border-bottom: #9d6ab7 2px solid;
  width: 100%;
}
.title {
  display: flex;
  gap: 1.1rem;
  color: #a6b0da;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content {
  padding: 0.5em;
  display: flex;
  gap: 1.4rem;
  color: #fff;
  align-items: center;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Cash {
  color: #636da8;
}
span {
  color: #43bb41;
  font-weight: 800;
}
.svh {
  display: flex;
  gap: 10px;
}
.place-bets {
  grid-column: 2/3;
  background-color: #636da8;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  text-align: center;
  color: #fff;
  align-items: center;
  height: 5rem;
}
.mode {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 0.5rem;
  color: #fff;
}
.place-bets > h2 {
  padding: 0.5em;
  justify-self: center;
}
.min {
  border-radius: 10px;
  background-color: #3e4465;
  padding: 4px;
}

.place-bets-2 {
  grid-column: span 1;
  background-color: #636da8;
  border-radius: 15px;
  padding: 1rem 1rem;
  display: flex;
  text-align: center;
  color: #fff;
  align-items: center;
  gap: 1em;
  height: 5rem;
}
.inc {
  background-color: #3e4465;
  padding: 6px 13px;
  border-radius: 8px;
}
.odd-2 {
  display: flex;
  width: 8rem;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 2em 1em;
  margin: 1rem 0;
  font-size: 13px;
  font-weight: 800;
}
.bet {
  border-radius: 10px;
  background-color: #9d6ab7;
  color: #fff;
  font-size: 19px;
  font-weight: 800;
  width: 12rem;
  height: 5rem;
}
.players-footer {
  display: flex;
  background-color: #3e4465;
  padding: 1rem;
  width: 100%;
  border-radius: 14px;
  gap: 0.8em;
  align-items: center;
  color: #636da8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.players-footer > .svg > h4 {
  margin-left: 1em;
}
.players-footer > .svg {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.players-footer > .more {
  display: flex;
  color: #fff;
  background-color: #050b33;
  padding: 0.7rem;
  border-radius: 30px;
  justify-self: end;
}
.selection {
  display: flex;
  gap: 1em;
  height: 6rem;
}

.head-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: #636da8;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}
.scroll {
  background-color: #363c5e;
  width: 15rem;
  height: 1em;
  border-radius: 10px;
}
.inner-scroll {
  width: 50%;
  height: 100%;
  float: right;
  background-color: #9d6ab7;
  border-radius: 10px;
}
.statistics {
  grid-column: 2 / span 7;
  background: #272c4b;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  gap: 2em;
  font-size: 12px;
}
#ty > h4 {
  font-weight: 900;
  font-size: 17px;
  color: #a6b0da;
}
#ty {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 1em;
}
.box {
  background: #333965;
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  height: 5rem;
  border-radius: 10px;
  align-items: center;
  color: #fff;
  font-style: italic;
}
.when {
  display: flex;
  flex-direction: column;
}
.h-when {
  padding: 0.3em 0 0 0;
  display: flex;
  gap: 0.4em;
}
.h-when-text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  color: #a6b0da;
}
.reset {
  width: 1.3rem;
  height: 4.6rem;
  background-color: #636999;
  border-radius: 10px;
}
.inner-reset {
  width: 100%;
  height: 40%;
  float: top;
  background-color: #9d6ab7;
  border-radius: 10px;
}
.box-2 {
  background: #333965;
  width: 6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em;
  color: #fff;
}
footer {
  background-color: #272c4b;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #abbdd9;
  font-size: 17px;
}
.rtd {
  margin: 0 1em;
}
.social-media {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1400px) {
  .players {
    grid-column: span 10;
    max-height: 37rem;
  }
  .crash {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    grid-template-columns: 2 / 8;
    text-align: center;
    margin-left: 0rem;
  }
  .game {
    max-width: 40rem;
    max-height: 24rem;
  }
  .selection {
    gap: 0.5em;
    height: 6rem;
  }
  .place-bets {
    grid-column: 2/3;
    gap: 0.2em;
  }
  .place-bets-2 {
    grid-column: span 1;
    padding: 1rem 0.3rem;
    gap: 0.5em;
  }

  .statistics {
    grid-column: 2 / span 7;
    background: #272c4b;
    display: grid;
    padding: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    gap: 1.4em;
    font-size: 12px;
  }

  @media screen and (max-width: 1300px) {
    .players {
      font-size: 13px;
      max-height: 33rem;
    }
  }
  @media screen and (max-width: 1204px) {
    #languages {
      width: 6rem;
      height: 2rem;
      background-color: #050b33;
      color: #9d6ab7;
      border-color: #9d6ab7;
      text-align: center;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 15px;
    }
    main {
      padding: 15px;
    }
    .players {
      font-size: 13px;
      max-height: 33rem;
      grid-column: span 2;
    }
    .selection {
      gap: 0.5em;
      height: 6rem;
    }
    .place-bets {
      grid-column: 2/3;
      gap: 0.2em;
      font-size: 13px;
    }
    .place-bets-2 {
      grid-column: 3/4;
      padding: 1rem 0.1rem;
      gap: 0.1em;
      font-size: 12px;
    }
    .game {
      max-width: 36rem;
      max-height: 24rem;
    }
    .odd-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      padding: 2em 0.3em;
      margin: 0.3rem 0;
      font-size: 13px;
      font-weight: 800;
    }
    .bet {
      border-radius: 10px;
      background-color: #9d6ab7;
      color: #fff;
      font-size: 19px;
      font-weight: 800;
      width: 11rem;
      height: 5rem;
    }
    .content {
      display: flex;
      gap: 0.5rem;
      color: #fff;
      align-items: center;
    }
    .statistics {
      grid-column: 2 / span 4;
      background: #272c4b;
      display: grid;
      padding: 1.2rem;
      grid-template-columns: repeat(3, 1fr);
      border-radius: 10px;
      gap: 1.4em;
      font-size: 12px;
    }
  }
  @media screen and (min-width: 1600px) {
    #languages {
      width: 9rem;
    }
    /* .players {
    grid-column: span 4;
  } */
  }
}
